.Page--home {
  .Section {
    position: relative;
    width: 100%;
    float: inline-start;
    padding: 50px 0;
    overflow: hidden;

    &--intro {
      &::before {
        content: '';
        z-index: -2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://assets.aquaeconomics.liobr.dev/media/images/construction-building.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
      }

      min-height: 100vh;

      .Intro-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
      }

      .Intro {
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;

        h1, h2 {
          color: white;
          font-family: $fontPrimary;
          font-size: 28px;
          font-weight: 300;
          letter-spacing: 4px;
          line-height: 38px;
          max-width: 672px;
        }

        h1 {
          margin-top: 60px;
        }
      }

      @include for-big-phone-up {
        .Intro {
          h1, h2 {
            font-size: 32px;
            line-height: 40px;
          }
        }
      }

      @include for-tablet-portrait-up {
        .Intro {
          width: 65%;

          h1, h2 {
            font-size: 40px;
            line-height: 54px;
          }
        }
      }

      @include for-tablet-landscape-up {
        .Intro {
          padding-top: 75px;

          h1, h2 {
            font-size: 45px;
            line-height: 60px;
          }
        }
      }
    }

    &--welcome {
      .Welcome {
        width: 90%;
        margin: 20px auto;
        max-width: 768px;
        font-family: $fontPrimary;

        &-title {
          text-transform: uppercase;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: 3px;
          margin-bottom: 30px;
        }

        h3 {
          font-family: $fontQuaternary;
          font-weight: 600;
          font-size: 27px;
          line-height: 36px;
          letter-spacing: 1px;

          b {
            color: $cerulean;
          }
        }
        
        p {
          margin: 40px auto;
          font-size: 21px;
          font-weight: 300;
          letter-spacing: 2px;
          line-height: 30px;
        }

        a {
          margin: 30px auto;
          color: black;
          font-size: 19px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
          -webkit-transition: all 0.1s linear;
             -moz-transition: all 0.1s linear;
               -o-transition: all 0.1s linear;
                  transition: all 0.1s linear;

          &:focus,
          &:hover {
            color: $cerulean;
            letter-spacing: 3px;
          }
        }
      }
    }

    &--services {
      .Services {
        width: 90%;
        margin: 40px auto;
        font-family: $fontPrimary;
        color: white;

        &-background {
          z-index: -2;
          position: absolute;
          top: 0;
  
          img {
            display: block;
            position: relative;
            height: 400px;
            width: auto;
          }
          
          &::after {
            content: '';
            z-index: 1;
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.6;
          }
        }

        &-text {
          max-width: 768px;

          &-title {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 300;
            letter-spacing: 3px;
            margin-bottom: 40px;
          }
  
          h3 {
            font-family: $fontPrimary;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 38px;
            max-width: 672px;
          }
        }

        &-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .Service {
            margin: 20px auto;
            width: 100%;
            max-width: 375px;
            text-align: center;
            color: black;
            background-color: white;
            border-radius: 2px;
            padding: 40px;
            box-shadow: 1px 2px 6px 4px #24157133;

            &-icon {
              margin-bottom: 20px;
            }
            
            &-text {
              &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                  font-family: $fontQuaternary;
                  font-weight: 600;
                  font-size: 27px;
                  line-height: 36px;
                  letter-spacing: 1px;
                  margin-bottom: 20px;
                }

                p {
                  margin: 0 auto 30px;
                  font-size: 21px;
                  font-weight: 300;
                  letter-spacing: 2px;
                  line-height: 28px;
                }
      
                a {
                  color: black;
                  font-size: 19px;
                  font-weight: 300;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  -webkit-transition: all 0.1s linear;
                     -moz-transition: all 0.1s linear;
                       -o-transition: all 0.1s linear;
                          transition: all 0.1s linear;
        
                  &:focus,
                  &:hover {
                    color: $cerulean;
                    letter-spacing: 3px;
                  }
                }
              }
            }
          }
        }
      }

      @include for-big-phone-up {
        .Services {
          &-text {
            h3 {
              font-size: 32px;
              line-height: 40px;
              margin-bottom: 60px;
            }
          }
        }
      }

      @include for-tablet-portrait-up {
        .Services {
          width: 80%;

          &-background {
            img {
              height: auto;
              width: 100%;
            }
          }

          &-text {
            h3 {
              margin-bottom: 40px;
            }
          }
        }
      }

      @include for-tablet-landscape-up {
        .Services {
          &-text {
            h3 {
              font-size: 45px;
              line-height: 60px;
              margin-bottom: 60px;
            }
          }

          &-container {
            .Service {
              max-width: 456px;
            }
          }
        }
      }

      @include for-desktop-up {
        .Services {
          &-container {
            .Service {
              max-width: 512px;
            }
          }
        }
      }
    }

    &--testimonials {
      .Testimonials-content {
        width: 90%;
        margin: 0px auto;

        .Testimonials-intro {
          text-align: center;
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
  
          h3 {
            font-family: $fontQuaternary;
            font-weight: 600;
            font-size: 27px;
            line-height: 36px;
            letter-spacing: 1px;
  
            b {
              color: $cerulean;
            }
          }
        }

        .Testimonials {
          .Testimonial {
            background-color: white;
            margin: 30px 20px 60px;

            &-text {
              text-align: center;

              h4 {
                font-family: $fontTertiary;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1px;
              }

              p {
                margin: 30px auto;
                color: black;
                font-size: 19px;
                font-weight: 300;
                letter-spacing: 2px;
                line-height: 28px;
                text-transform: uppercase;

                q {
                  font-size: 21px;
                  text-transform: none;
                }
              }
            }
          }
        }
      }

      @include for-tablet-portrait-up {
        .Testimonials-content {
          .Testimonials-intro {
            margin: 20px auto;
          }

          .Testimonials {
            display: inline-flex;

            .Testimonial {
              margin: 0 20px;
              width: 50%;
            }
          }
        }
      }

      @include for-tablet-landscape-up {
        .Testimonials-content {
          display: flex;
          margin: 0 auto 40px;

          .Testimonials-intro {
            width: 33%;
          }

          .Testimonials {
            width: 67%;
          }
        }
      }
    }

    &--contact {
      .Contact {
        width: 80%;
        max-width: 512px;
        margin: 0 auto;
  
        &-info {
          &-text {
            margin: 20px auto 0;

            h3 {
              font-family: $fontQuaternary;
              font-weight: 600;
              font-size: 27px;
              line-height: 36px;
              letter-spacing: 1px;

              b {
                color: lightseagreen;
              }
            }

            h4 {
              font-size: 21px;
              font-weight: 300;
              letter-spacing: 2px;
              line-height: 28px;
            }

            &-phone,
            &-email,
            &-address {
              p {
                font-family: $fontPrimary;
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 24px;
                color: black;
                margin: 10px 0;

                a {
                  color: $berry;
                  font-weight: 600;
                }
              }
            }

            &-address {
              p {
                margin: 0;
              }
            }
          }
        }

        .ContactForm {
          margin: 40px auto;
          background-color: white;
          box-shadow: 1px 2px 6px 4px #24157133;
          border-radius: 2px;
          padding: 20px;
          font-family: $fontSecondary;

          .Input, .TextArea {
            margin-top: 20px;

            label {
              display: block;
              font-weight: 500;
              font-size: 16.5px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: $berry;
            }
        
            input {
              width: 100%;
              font-weight: 400;
              font-size: 16.5px;
              letter-spacing: 1px;
              border: none;
              outline: none;
              height: 34px;
              background: none;
              border-bottom: 0.5px solid $berry;
              color: black;
              margin: 5px 0 10px;
            }

            textarea {
              width: 100%;
              font-size: 19px;
              font-weight: 500;
              letter-spacing: 1px;
              line-height: 20px;
              border: none;
              outline: none;
              height: 102px;
              background: none;
              border-bottom: 0.5px solid $berry;
              color: black;
              margin: 5px 0 10px;
              font-family: $fontPrimary;
            }
          }

          &-button {
            display: block;
            border: none;
            outline: none;
            min-width: 135px;
            position: relative;
            background-color: $red;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
            text-transform: uppercase;
            -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                  -o-transition: all 0.1s linear;
                    transition: all 0.1s linear;
            padding: 8px 14px;
            margin: 20px auto;
            border-radius: 3px;
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: $fontTertiary;
        
            &:hover,
            &:focus {
              cursor: pointer;
              color: white;
              background-color: $lightgreen;
              text-shadow: 1px 1px rgba(0,0,0,0.2);
            }
        
            &:disabled {
              cursor: unset;
              color: white;
              background-color: $palered;
              letter-spacing: unset;
              font-weight: 500;
              text-shadow: unset;
            }
          }
        }
      }

      @include for-tablet-landscape-up {
        .Contact {
          width: 90%;
          max-width: unset;
          display: flex;
          margin: 0 auto 40px;

          .Contact-info {
            padding: 30px;
            width: 33%;

            &-text {
              margin-bottom: 20px;
            }
          }

          .ContactForm {
            position: relative;
            width: 67%;
            margin-right: 20px;
            
            &-table {
              display: table;
              width: 100%;

              &-row {
                display: table-row;

                .Input {
                  display: table-cell;

                  label,
                  input {
                    display: block;
                    width: 90%;
                    margin: 5px auto;
                  }
                }
              }
            }

            .TextArea {
              width: 95%;
              margin: 20px auto;

              textarea {
                height: 85px;
              }
            }
          }
        }
      }
    }
  }
}