.Footer {
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  font-family: $fontSecondary;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  float: inline-start;
  padding: 50px 0;
  overflow: hidden;
  color: $palered;
  background: $paleteal;
  background: linear-gradient(white 0.5%, $paleteal, lightcyan);

  .SiteLinks {
    width: 90%;
    margin: 0 auto;

    &-navigation {
      h5 {
        font-size: 13px;
        color: $palered;
        border-bottom: 1px solid lightgray;
      }

      ul {
        li {
          a {
            color: $cerulean;
          }
        }
      }
    }
  }

  .FooterLinks {
    position: relative;
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
    top: 60%;
    text-align: center;

    .FooterLink {
      color: $palered;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  @include for-desktop-up {
    padding-top: 80px;

    .SiteLinks {
      display: flex;

      &-logo {
        width: 25%;
      }

      &-navigation {
        width: 75%;
      }
    }
  }
}