.NavBar {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;

  .MenuIcon {
    &:focus {
      outline: $cerulean dashed 1px;
    }

    .MenuIcon-icon-line {
      background-color: $cerulean;
    }
  }

  &.is-overBanner1,
  &.is-overBanner2 {
    .MenuIcon {
      &:focus {
        outline: white dashed 1px;
      }

      .MenuIcon-icon-line {
        background-color: white;
      }

      &.is-active {
        &:focus {
          outline: $cerulean dashed 1px;
        }

        .MenuIcon-icon-line {
          background-color: $cerulean;
        }
      }
    }
  }

  .NavigationMain {
    z-index: 3;
    position: absolute;
    top: 28px;
    right: 60px;
    height: 0%;
    width: 0%;

    &-overlay {
      position: fixed;
      z-index: 4;
      background: black;
      opacity: 0.333;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    
    &.is-on {
      z-index: 5;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      font-family: $fontSecondary;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      background: honeydew;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 100px;
      }
    
      &::-webkit-scrollbar-thumb {
        border: 3px solid transparent;
        border-radius: 100px;
        background-color: $palered;
        background-clip: content-box;
      }
    
      scrollbar-color: $palered transparent;

      .MenuIcon-container {
        position: fixed;
        top: 30px;
        left: calc(100% - 60px);

        @include for-medium-window-up {
          left: calc(100% - 60px);
        }
      }

      .SiteLinks {
        padding-top: 35px;
        width: 95%;
        margin: 0 auto;

        &-logo {
          padding: 0 10px;
        }

        &-navigation {
          &-column {
            padding: 10px;

            h5 {
              font-size: 13px;
              color: $palered;
              border-bottom: 1px solid lightgray;
            }

            ul {
              margin: 0;

              li {
                margin-bottom: 5px;

                a {
                  color: $cerulean;
                }
              }
            }
          }
        }
      }

      @include for-medium-window-up {
        @include for-tablet-portrait-up {
          max-width: 480px;
        }
      }

      @include for-short-window-only {
        @include for-tablet-landscape-up {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .SiteLinks {
            display: flex;
            padding-top: 0;

            &-logo {
              width: 25%;
            }

            &-navigation {
              width: 75%;
            }
          }
        }
      }
    }
  }
}
