.ScrollArrow {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15x;
  border-left: none;
  border-top: none;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);

  &:focus {
    outline: 1px dashed white;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin: -7.5px 0 0 -7.5px;
    border-left: none;
    border-top: none;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
    -webkit-animation: arrow 2s infinite;
       -moz-animation: arrow 2s infinite;
         -o-animation: arrow 2s infinite;
            animation: arrow 2s infinite;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
       -moz-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
         -o-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@-moz-keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
       -moz-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
         -o-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@-o-keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
       -moz-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
         -o-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}
  
@keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
       -moz-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
         -o-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}
