.SiteLinks {
  &-logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;

    &-image {
      width: 100%;
      min-width: 125px;
      max-width: 200px;
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-column {
      padding: 0 20px;
      width: 228px;

      ul {
        padding: 0;

        li {
          margin-bottom: 3px;
        }
      }
    }
  }
}
