.SiteLinks {
  width: 90%;
  margin: 0 auto;

  &-logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;

    &-image {
      width: 100%;
      min-width: 125px;
      max-width: 200px;
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-column {
      padding: 10px 20px;
      width: 228px;

      h5 {
        padding-bottom: 5px;
        border-bottom: 1px solid;
        margin-bottom: 5px;
      }

      ul {
        padding: 0;

        li {
          margin-bottom: 3px;
        }
      }
    }
  }
}
